* {
  font-family: 'Montserrat', sans-serif;
}

select {
  min-width: 500px;
}

td {
  min-width: 400px;
}


th {
  min-width: 400px;
  font-weight: bolder;
  background-color: #9ccccd;
}

.columns {
  padding-left: 175px;
  font-size: 15px;
}

.title {
  padding-left: 175px;
  padding-top: 50px;
}

.p {
  padding: 60px;
}

.select {
  margin-left: 150px;
}

.sweet-loading {
  margin-left: 200px;
}
